<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat delectus, dolore, sit vel eligendi, magni quos laboriosam cum nulla animi molestias eveniet quisquam vitae voluptate commodi quo! Nulla neque et sapiente praesentium numquam, nobis commodi laborum quam earum eos dignissimos!</p>
    </div>
</div>