<div class="jumbotron-mt-4 bg-light p-5 rounded">
    <h1 class="display-4" >Notes App Node js and MOngodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tempora voluptates alias quas praesentium at, recusandae aperiam eos nobis quibusdam officia error omnis! Voluptatem tempore recusandae cumque dicta, aliquam in.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui excepturi, corrupti quae aspernatur, beatae incidunt sint, dicta magnam delectus natus odio enim fuga labore saepe ipsum modi aut inventore libero?</p> 
    <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>